<div>
    <div *ngIf="this.entry">Edit</div>
    <div *ngIf="!this.entry">Create</div>

    <form [formGroup]="entryForm" (ngSubmit)="save(entryForm.value)"novalidate>
        <div class="form-group">
            <label for="class"> Hike Class: </label>
            <input formControlName="class" id="class" type="text" class="form-control"
                   placeholder="what hike class..."/>

            <label for="prefStartTime"> Prefered start time: </label>
            <input formControlName="prefStartTime" id="prefStartTime" type="text" class="form-control"
                   placeholder="what prefered start time..."/>

            <fieldset formGroupName="team">

                <label for="TeamName"> Team Name: </label>
                <input formControlName="name" id="TeamName" type="text" class="form-control"
                       placeholder="what prefered team name..."/>

                <label for="ScoutGroup"> Scout Group: </label>
                <input formControlName="group" id="ScoutGroup" type="text" class="form-control"
                       placeholder="what scout group..."/>

                <label for="ScoutDistrict"> Scout District: </label>
                <input formControlName="district" id="ScoutDistrict" type="text" class="form-control"
                       placeholder="what scout district..."/>

                <label for="ScoutCounty"> Scout County: </label>
                <input formControlName="county" id="ScoutCounty" type="text" class="form-control"
                       placeholder="what scout county..."/>

                <label for="StandardMobile"> Scout Standard Mobile: </label>
                <input formControlName="standardMobile" id="StandardMobile" type="text" class="form-control"
                       placeholder="what is the mobile number for the team..."/>

                <label for="EmergencyMobile"> Scout Emergency Mobile: </label>
                <input formControlName="emergencyMobile" id="EmergencyMobile" type="text" class="form-control"
                       placeholder="what is the emergency mobile number for the team...."/>

                <fieldSet formArrayName="participants">
                    <div *ngFor="let participant of entryForm.get('team.participants').controls; let i=index"
                         [formGroup]="participant">
                        <label for="'name'+1"> Name </label>
                        <input formControlName="name" id="'name'+1" type="text" class="form-control"
                               placeholder="Entrants Name..."/>

                        <label for="'dob'+1"> Date of birth </label>
                        <input formControlName="dob" id="'dob'+1" type="text" class="form-control"
                               placeholder="Entrants Date of Birth..."/>

                        <label for="'sex'+1"> Sex </label>
                        <input formControlName="sex" id="'sex'+1" type="text" class="form-control"
                               placeholder="Entrants sex..."/>
                    </div>
                </fieldSet>

            </fieldset>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
    </form>
</div>